@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  /* 去掉 li 标签默认样式 */
  li {
    list-style: none;
  }
}

::selection {
  background-color: #0F766E;
  color: #fff;
}
